* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "sans";
}

.container {
  width: 1300px;
  margin: 0 auto;
}

@font-face {
  font-family: sans;
  src: url(../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

header {
  width: 100%;
  height: 56px;
  -webkit-box-shadow: 1px 1px 5px 1px black;
          box-shadow: 1px 1px 5px 1px black;
  position: fixed;
  background-color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}

nav .right-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

nav .right-nav .nav-list {
  font-size: 17px;
  font-weight: 400;
  font-family: "sans";
  color: #000;
}

nav .right-nav .nav-btn {
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #00BAFC;
  border: none;
  border-radius: 5px;
}

main .main-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 97px;
  gap: 170px;
}

main .main-desc .main-title {
  width: 500px;
  font-family: sans;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 16px;
}

main .main-desc .main-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "sans";
  color: #000000;
  padding-bottom: 20px;
  width: 465px;
}

main .main-desc .main-btn {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  font-family: "sans";
  color: #fff;
  background-color: #00BAFC;
  border: none;
  border-radius: 5px;
}

aside .aside-title h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "sans";
  color: #000;
  text-align: center;
  padding-top: 86px;
}

aside .aside-title p {
  font-size: 16px;
  font-weight: 400;
  font-family: "sans";
  text-align: center;
  color: #000;
}

aside .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
  padding-top: 24px;
}

aside .boxes .box-item {
  width: 340px;
  -webkit-box-shadow: 0px 10px 10px 5px #5d5c5c;
          box-shadow: 0px 10px 10px 5px #5d5c5c;
  text-align: center;
  border-radius: 5px;
  padding: 28px 56px;
}

aside .boxes .box-item .box-title {
  font-size: 20px;
  font-weight: 700;
  font-family: "sans";
  color: #000;
  padding-bottom: 16px;
  padding-top: 10px;
}

aside .boxes .box-item .box-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "sans";
  color: #000;
  padding-top: 25px;
}

aside .aside-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  gap: 70px;
}

aside .aside-box .aside-item {
  width: 340px;
  -webkit-box-shadow: 0px 10px 10px 5px #5d5c5c;
          box-shadow: 0px 10px 10px 5px #5d5c5c;
  text-align: center;
  border-radius: 5px;
  padding: 28px 56px;
}

aside .aside-box .aside-item .aside-ttle {
  font-size: 20px;
  font-weight: 700;
  font-family: "sans";
  color: #000;
  padding-bottom: 16px;
  padding-top: 10px;
}

aside .aside-box .aside-item .aside-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "sans";
  color: #000;
  padding-top: 25px;
}

.aside-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 46px;
  gap: 16px;
}

.aside-btn .aside-btnn {
  padding: 11px 19px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  font-family: "sans";
  background-color: #00BAFC;
  border: none;
  border-radius: 5px;
}

.aside-btn .aside-link {
  font-size: 16px;
  font-weight: 400;
  font-family: "sans";
  color: #00BAFC;
}

.article-title {
  text-align: center;
  padding-top: 80px;
}

.article-title h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "sans";
  color: #000000;
  padding-bottom: 16px;
}

.article-title p {
  font-size: 16px;
  font-weight: 400;
  font-family: "sans";
  color: #000000;
}

article h2 {
  font-size: 20px;
  font-family: "sans";
  font-weight: 700;
  color: #000000;
  padding-bottom: 10px;
}

article p {
  font-size: 16px;
  font-family: "sans";
  font-weight: 400;
  color: #000000;
}

article .article-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  padding-top: 26px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article .article-btn {
  text-align: center;
  padding-top: 40px;
}

article .article-btn .btn-article {
  padding: 8px 16px;
  background-color: #00BAFC;
  border: none;
  border-radius: 5px;
  font-family: "sans";
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.input {
  width: 100%;
  height: 100vh;
  background-color: #00BAFC;
}

.input .input-desc {
  text-align: center;
  padding-top: 98px;
}

.input .input-desc h2 {
  font-size: 24px;
  font-family: "sans";
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 18px;
}

.input .input-desc p {
  font-size: 16px;
  font-family: "sans";
  font-weight: 400;
  color: #FFFFFF;
  padding-bottom: 17px;
}

.input .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
}

.input .input-box .input-item {
  width: 348px;
  height: 320px;
  background-color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  gap: 16px;
  border-radius: 5px;
}

.input .input-box .input-item .inputt {
  padding: 16px 222px 16px 16px;
  border: none;
  border-radius: 5px;
  background-color: #c0bcbc;
}

.input .input-box .input-item .input-btn {
  padding: 8px 16px;
  width: 166px;
  margin-left: 58px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #fffdfd;
  background-color: #00BAFC;
  margin-top: 17px;
}

footer {
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  padding-top: 56px;
}

footer .footer-items .footer-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  color: white;
  font-family: "sans";
  gap: 16px;
}

@font-face {
  font-family: sans;
  src: url(../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.container {
  width: 1300px;
  margin: 0 auto;
}
